.Input {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  position: relative;

  input {
    min-width: 320px;
    height: 46px;
    padding: 0 20px;
    border-radius: 4px;
    background: #212121;
    color: #565656;
    font-size: 12px;
    font-weight: 400;
    border: none;

    &:focus {
      outline: 1px solid white;
    }
  }

  .input_hint {
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 400;
    display: none;
  }

  .button_clear {
    width: 20px;
    height: 20px;
    background-image: url(/icons/clear.svg);
    padding: 0;
    border: none;
    background-color: transparent;

    position: absolute;
    top: 12px;
    right: 20px;
  }

  .isActive {
    display: block
  }
}